<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bitwarden" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="docker-cli" />
  <package id="docker-compose" />
  <package id="docker-desktop" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="gnupg" />
  <package id="mongodb-compass" />
  <package id="mongodb-database-tools" />
  <package id="nmap" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="openssl" />
  <package id="powershell-core" />
  <package id="python" />
  <package id="python3" />
  <package id="python313" />
  <package id="royalts-v7-x64" />
  <package id="rpi-imager" />
  <package id="slack" />
  <package id="ubiquiti-wifiman-desktop" />
  <package id="wiztree" />
</packages>